---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
eleventyComputed:
  pages:
    - { en: "/work/", de: "/de/work/" }
    - { en: "/work/enow/", de: "/de/work/enow/" }
    - { en: "/work/spotify/", de: "/de/work/spotify/" }
    - { en: "/work/venek/", de: "/de/work/venek/" }
    - { en: "/about/", de: "/de/about/" }
    - { en: "/cv/", de: "/de/cv/" }
    - { en: "/contact/", de: "/de/contact/" }
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for p in pages %}
<url>
<loc>{{ siteBaseUrl }}{{ p.en | url }}</loc>
<xhtml:link rel="alternate" hreflang="en" href="{{ siteBaseUrl }}{{ p.en | url }}"/>
<xhtml:link rel="alternate" hreflang="de" href="{{ siteBaseUrl }}{{ p.de | url }}"/>
<xhtml:link rel="alternate" hreflang="x-default" href="{{ siteBaseUrl }}{{ p.en | url }}"/>
</url>
<url>
<loc>{{ siteBaseUrl }}{{ p.de | url }}</loc>
<xhtml:link rel="alternate" hreflang="en" href="{{ siteBaseUrl }}{{ p.en | url }}"/>
<xhtml:link rel="alternate" hreflang="de" href="{{ siteBaseUrl }}{{ p.de | url }}"/>
<xhtml:link rel="alternate" hreflang="x-default" href="{{ siteBaseUrl }}{{ p.en | url }}"/>
</url>
{% endfor %}
<url>
<loc>{{ siteBaseUrl }}{{ '/art/' | url }}</loc>
</url>
</urlset>
